third/*/*.o
third/*/*.dep
third/*/*.a
third/*/*.so
third/*/*/*.o
third/*/*/*.dep
third/*/*/*.a
third/*/*/*.so
third/*/*/*/*.o
third/*/*/*/*.dep
third/*/*/*/*.a
third/*/*/*/*.so
third/lua-5.3.5/src/lua
third/lua-5.3.5/src/luac
src/*.o
src/*.gch
src/*.dep
.cproject
.project
.settings/
src/midipatch
html/index.min.pack
html/index.o
