body {
  background-color: grey;
  height: 99%;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

#confirmoverwrite {
  display: none;
}
.lm_content {
overflow-x:auto;
overflow-y:auto;
}

#rack {
  display: table;
  width: 100%;
}

.moduleLabel {
  padding: 5px;
  font-weight: bolder;
  color:white;
  background-color:black;
  margin: 3px;
}

.loading {
  margin:auto;
  color:white;
  font-weight:bolder;
}
#rackdiv div {
  color: black;
}

.control-row {
  border: 3px solid white;
  display: table-row; 
  width: 100%;
}
.control-cell {
  padding: 10px 10px 10px 10px; 
  display: inline-table; 
  border: 1px solid black;
  width: 0%;
}

.control-cell label {
  color:black;
}

.CodeMirror {
  height: 99%;
}



#log {
	color: white;
  width: 100%;
  margin: 0px;
  font-family: monospace;
  font-size: 1em;
}


#log pre {
  display: inline;
}

#log pre span {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  color: #bb0000;
}

#toolbar {
	margin: 0;
  padding: 3px;
	display: block;
}

#savebank {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 4px;
}

#loadbank {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 4px;
}

#saveallbanks {
  margin-left: 5px;
  margin-right: 0px;
  padding-top: 4px;
}

#restartonsave {
  vertical-align: middle;
}

#holdmode {
  vertical-align: middle;
}

#holdmodesection {
  display: inline;
  margin-right: 3px;
}
label {
  display: inline;
  color: white;
  font-size: 1em;
}

#loadfile {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 4px;
}

#savefile {
  margin-left: 0px;
	margin-right: 0px;
  padding-top: 4px;
}

#editorselectsection {
  display: inline;
  border: 1px solid white;
  padding: 3px;
}

#editorselect {
  font-size: 0.8em;
  border: 0;
  color: white;
  background-color: #404040;
}

.button {
  display: inline;
  color: white;
  background-color: black;
  border: 1px solid white;
  width: 100px;
  padding: 3px;
}

#piano {
  margin-top: 3px;
}
@media only screen and (max-width: 1000px) {
.CodeMirror {
  width: 96vw;
}
#rack {
  margin-top: 120px;
}

#rackdiv { 
  margin-top: 20px;
  display: table-row;
  width: 100px;
}
.control-row {
  width: 100%;
}

.control-cell {
  padding: 0px 10px 0px 10px;
  width: 0%;
}

#panelrow {
  display: inline;
}

#rack {
  display: inline;
}
}
